.affiliation {

    &__container {
        max-width: 960px;
        margin: 0 auto;

        &__title {
            text-align: center;
        }

        &__affiliates {
            display: flex;
            flex-wrap: wrap;
            text-align: center;

            &__affiliate {
                flex: 1 0 50%;
                height: auto;
                padding-left: 0.25em;
                padding-right: 0.25em;
                overflow: hidden;

                @media(min-width: 48em ) {
                    flex: 1 0 25%;
                }

                img {
                    transition: transform 250ms;
                }

                img:hover {
                    transform: scale(1.1);

                }
            }
        }
    }
}