* {
    box-sizing: border-box;
}

body {
    color: $dark-gray;
    font-family: $ff-body;
    line-height: 1.6;
    font-size: 16px;
    background-color: $white;
}

img {
    max-width: 100%;
}

h1, h2, p {
    margin-top: 0;
    margin-bottom: 1em;
}

h1 {
    font-family: $ff-body;
    color: $white;
    line-height: 1;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: $fw-b;
    margin: 0;

    @media(min-width: 48em) {
        font-size: 3.125rem
    }

    @media(min-width: 64em) {
        font-size: 4rem
    }

}

h2 {
    font-family: $ff-heading;
    color: $green;
    font-size: 1.5rem;

    @media(min-width: 48em) {
        font-size: 2.5rem
    }
}

h3 {
    font-family: $ff-body;
    font-size: 1rem;
    text-transform: uppercase;
    color: $brand-green;

    @media(min-width: 64em) {
        font-size: 1.5rem;
    }
}

h4 {
    font-family: $ff-body;
    font-size: 1.125rem;
    color: $white;
}

p {
    font-size: 0.80rem;
    color: $dark-gray;

    @media(min-width: 48em) {
        font-size: 1.25rem
    }

    @media(min-width: 64em) {
        font-size: 1.5rem
    }
}

/* Button link styles */
.cta-button {
    border: 1px solid $white;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 2.5em;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    max-width: 13em;

    &:hover,
    &:focus {
        border-color: $green;
        color: $green;
    }

    &--small {
        font-size: 0.9rem;
        padding-left: 1em;
        padding-right: 1em;
    }

    &--green {
        border: 1px solid $green;
        color: $green;

        &:hover,
        &:focus {
            border-color: $white;
            color: $white;
            background-color: $green;
        }
    }

}
