.header {
    background-color: $brand-green;
    min-height: 3.625em;
    display: flex;
    flex-direction: row;
    padding: 0.75em 0 0em 1.5em;

    @media(min-width: 48em) {
        padding: 1em 0 0.5em 4em;
    }

    &__logo {
        width: 6.5em;

        @media(min-width: 48em) {
            width: 10em;
        }

        @media(min-width:77.5em) {
            width: 10.625em;
        }
    }
}