.header {
    background-color: $brand-green;
    min-height: 3.625em;
    padding: 0.75em 0 0 1.5em;

    @media(min-width: 48em) {
        // makes green bar bigger from ipad onwards...
        padding: 1.25em 0 0.25em 1.5em;
        height: 6.8125em;
    }

    &__container {
        position: relative;

        @media(min-width: 48em) {
            max-width: 960px; 
            margin: 0 auto;
            display: flex;
        }

        &__logo {
            width: 6.5em;
    
            @media(min-width: 48em) {
                width: 9.5em;
            }
    
            @media(min-width: 64em) {
                width: 10.625em;
            }
        }

        .menu-button {
            font-size: 1.5rem;
            background: transparent;
            position: absolute;
            border: 0;
            right: 1em;
            top: 0.3em;
            border: 0;

            @media(min-width: 48em) {
                display: none;
            }
        }

        &__nav {
            position: absolute;
            width: 100%;
            top: -0.75em;
            padding: 3em 1.5em;
            margin: 0;
            display: flex;
            flex-direction: column-reverse;
            right: -100vw;
            transition: right 1s;
   

            @media(min-width: 48em) {
                display: block;
                top: 1em;
                right: 0;
                position: static;
                display: flex;
                flex-direction: row;
                padding: 0;
            }

            &__close {
                background: none;
                border: 0;
                width: auto;
                position: absolute;
                top: 0.75em;
                right: 0.75em;
                font-size: 1.5rem;

                @media(min-width: 48em) {
                    display: none;
                }
            }

            &--active {
                right: 0;
                background-color: $light-gray;
                box-shadow: -2px 2px 100px #000;

            }

            &__primary {
                margin: 0;
                padding: 0;
                list-style: none;

                @media(min-width: 48em) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    position: absolute;
                    top: 3em;
                    right: 0;

                }

                li {
                    padding-bottom: 0.5em;
                    
                    @media(min-width: 48em) {
                        text-transform: uppercase;
                        font-size: 0.95rem;
                        padding-right: 1em;
                    }
                    
                    @media(min-width: 64em) {
                        padding-right: 2.5em;
                    }

                    &:last-child {
                        padding-right: 1.75em;
                    }

                    a {
                        text-decoration: none;
                        color: #000;
                    }

                    a:hover,
                    a:focus {
                        color: $white;
                    }
                }
            }

            &__secondary {

                @media(min-width: 48em) {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    top: 0;
                    right: 0;
                    
                    li {
                        list-style: none;
                        color: #000;
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        padding-right: 1.75em;

                        a {
                            text-decoration: none;
                            color: #000;
                        }

                        a:hover,
                        a:focus {
                            color: $white;
                        }
                    }
                }
            }            
        }
    }   
}