.header {
    background-color: $brand-green;
    min-height: 3.625em;
    padding: 0.75em 0 0 1.5em;

    @media(min-width: 48em) {
        // makes green bar bigger from ipad onwards...
        padding: 1.25em 0 0.25em 1.5em;
        height: 6.8125em;
    }

    &__container {

        @media(min-width: 48em) {
            max-width: 960px; 
            margin: 0 auto;
        }

        &__logo {
            width: 6.5em;
    
            @media(min-width: 48em) {
                width: 9.5em;
            }
    
            @media(min-width: 64em) {
                width: 10.625em;
            }
        }

        &__nav {
    
            &__secondary {
                display: flex;
                width: 40%;
                justify-content: space-between;
                
                li {
                    list-style: none;
                    $color: $dark-gray;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    
                }
            }
            &__primary {
                display: flex;
                width: 60%;
                justify-content: space-between;

                li {
                    list-style: none;
                    $color: $dark-gray;
                    text-transform: uppercase;
                    font-size: 1rem;
                }
            }
        }

    }
    
}