.hero {  

    &__container {
        background-image: url(../../img/hero.PNG);
        background-position: center;
        background-size: cover;
        padding-bottom: 1.25em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        height: 16.8125em;

        // @media(min-width: 32.5em) {
        //     padding-left: 4em;
        //     padding-right: 4em;
        // }

        @media(min-width: 48em) {
            min-height: 30em;
            padding-bottom: 2em;
        }

        &__mainintro {
             margin-bottom: 0.25em;  

        }

        &__intro {
            color: $white;
            margin: 0 auto;
            margin-bottom: 1em;
            // max-width: 540px;   
            padding-left: 2.1em;
            padding-right: 2em;

            @media(min-width: 48em) {
                // max-width: 638px; 
                width: 90%;
            }

            @media(min-width: 64em) {
                max-width: 638px; 
            }

        }

    }

 
}

