.insta {
    background-color: $white;
    padding: 2em 2em;

    margin: 0 auto;

    &__container {
        text-align: center;
        margin: 0 auto;
        max-width: 960px; 

        &__title {
            color: $green;
            margin-bottom: 0;
        }

        &__gallery {

            &__item {
                @media(min-width: 48em) {
                    width: 33%;
                    display: inline-block;
                }
  
                img {
                    height: auto;
                    display: block;
                    max-width: none;
                    width: 100%;
                }
            }
        }
    }
}