.insta {
    background-color: $light-gray;
    margin: 0 auto;

    &__container {
        text-align: center;
        margin: 0 auto;
        max-width: 960px; 

        &__title {
            color: $green;
            margin-bottom: 0;
        }

        &__id {
            margin-bottom: 1.5em
        }

        &__gallery {

            &__item {
                width: 50%;
                display: inline-block;
                overflow: hidden;

                @media(min-width: 48em) {
                    width: 20%;
                }
  
                img {
                    height: auto;
                    display: block;
                    max-width: none;
                    width: 100%;
                    transition: transform 500ms;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}