.newsletter {
    background-color: $brand-green;
    padding: 3em 3.5em;
 

    &__container {
        color: $white;
        text-align: center;
        margin: 0 auto;
        max-width: 540px; 

        &__intro {
            font-family: $ff-heading;
            font-size: 1.875rem;
            font-weight: $fw-b;
            line-height: 1.2;
            padding-bottom: 0.75em;
        }
    }
}