.nextrun {
    background-color: $dark-gray;
    padding: 1em;
    
    @media(min-width: 48em) {
        margin: -8em auto -4em;
        position: relative;
        width: 65%;
        max-width: 950px;
    }

    @media(min-width: 64em) {
        padding: 1.25em;
    }

    &__container {
        outline: 1px solid $white;
        outline-offset: -.5em;
        padding: 2em 1.15em 1.75em;
        text-align: center;
        position: relative;
        color: $white;

        @media(min-width: 64em) {
            padding: 3em 1.15em 1.75em;
        }

        h2 {
            background: $dark-gray;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -.5em;
            width: 6em;
            color: $white;

            @media(min-width: 64em) {
                top: -.5em;
                font-size: 2.5rem
            }
        }

        &__title {
            color: $white;
            font-size: 1.5rem;
        }

        &__list {
            color: $white;
        }

        a {
            padding-left: 2em;
            padding-right: 2em;
        }
    }
}