.quicklinks {
    background-color: $light-gray;
    padding-bottom: 1em;

    @media(min-width: 48em) {
        padding-top: 1.75em;
        // to accommodate next run block
        padding-bottom: 12.25em;

    }

    @media(min-width: 64em) {
        // to accommodate next run block
        padding-bottom: 12em;
    }

    &__container {
     
        @media(min-width: 48em) {
            display: flex;
            flex-wrap: wrap;
            max-width: 960px; 
            margin: 0 auto;
        }

        &__block {
            padding: 1em 1em 0;
            text-align: center;
    
            @media(min-width: 48em) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                flex: 1 0 33%;
                padding-left: 0.5em;
                padding-right: 0.5em;
            }

            &__content {
                background-color: $white;
                padding: 1em;
                flex: 0 0 100%;
                max-width: 100%;

                h3 {
                    margin-top:0;
                    margin-bottom: 0.3em;
                    font-weight: $fw-b;
                }
        
                p {
                    font-size: 0.875rem;
                }
            }
    
        
        }


    }
    

}