@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

$ff-heading: 'Raleway', sans-serif;
$ff-body: 'Open Sans', sans-serif;

$fw-n: 400;
$fw-b: 700;

